


.pre-header {

background-color: green;

background-color: green;

}

.slike {


}
li  {



    color: green;
}
h1  {

background-color: green;
    color: black;
}
a   {


color: green;

background-color:

}